/* 
    General Styles
*/

index {
    background-color: #a17fe0;
}
.card-img {
    object-fit: contain;
    width: 900px;
    height: 900px;
}

.img-fluid {
    border-radius: 50%;
    height: 400px;
    width: 400px;
    object-fit: cover;

}